In [1]:
import pandas as pd

In [3]:
raw_df = pd.read_excel(r"../data/mf_metadata.xlsx")

cols = raw_df.columns[0].split(";")
cols

['Scheme Code',
 'ISIN Div Payout/ ISIN Growth',
 'ISIN Div Reinvestment',
 'Scheme Name',
 'Net Asset Value',
 'Date']

In [4]:
raw_df

,Scheme Code;ISIN Div Payout/ ISIN Growth;ISIN Div Reinvestment;Scheme Name;Net Asset Value;Date,Unnamed: 1
0,NaN,NaN
1,Open Ended Schemes(Debt Scheme - Banking and P...,NaN
2,NaN,NaN
3,Aditya Birla Sun Life Mutual Fund,NaN
4,NaN,NaN
...,...,...
15706,151331;INF789F1AXA9;-;UTI Fixed Term Income Fu...,NaN
15707,151485;INF789F1AXP7;-;UTI Fixed Term Income Fu...,NaN
15708,151484;INF789F1AXO0;-;UTI Fixed Term Income Fu...,NaN
15709,151483;INF789F1AXN2;-;UTI Fixed Term Income Fu...,NaN
15710,151486;INF789F1AXM4;-;UTI Fixed Term Income Fu...,NaN

In [4]:
mf_metadata = []
for i in range(len(raw_df)):
    try:
        row = raw_df.iloc[i][0].split(";")
    except:
        continue
    if len(row) == len(cols):
        item = {}
        for idx, col in enumerate(cols):
            item[col] = row[idx]
        mf_metadata.append(item)

In [5]:
pd.DataFrame(mf_metadata).to_pickle(r"../data/mf_metadata.pkl")

In [6]:
meta = pd.read_pickle(r"../data/mf_metadata.pkl")
meta[["ISIN Div Payout/ ISIN Growth", "Scheme Code"]].set_index(
    "ISIN Div Payout/ ISIN Growth"
).squeeze().rename_axis("ISIN").to_pickle("../data/isin_scid_map.pkl")

In [5]:
pd.read_pickle("../data/isin_scid_map.pkl")

ISIN
INF209KA12Z1    119551
INF209K01YM2    119552
INF209K01YO8    119553
INF209K01LX6    108272
INF209K01LU2    110282
                 ...
INF789F1AXP7    151485
INF789F1AXO0    151484
INF789F1AXN2    151483
INF789F1AXM4    151486
INF789F1AYN0    151739
Name: Scheme Code, Length: 12889, dtype: object

In [6]:
pd.read_pickle("../data/mf_metadata.pkl")

,Scheme Code,ISIN Div Payout/ ISIN Growth,ISIN Div Reinvestment,Scheme Name,Net Asset Value,Date
0,119551,INF209KA12Z1,INF209KA13Z9,Aditya Birla Sun Life Banking & PSU Debt Fund ...,113.708,25-Aug-2023
1,119552,INF209K01YM2,-,Aditya Birla Sun Life Banking & PSU Debt Fund ...,114.6137,25-Aug-2023
2,119553,INF209K01YO8,-,Aditya Birla Sun Life Banking & PSU Debt Fund ...,112.6882,25-Aug-2023
3,108272,INF209K01LX6,INF209KA11Z3,Aditya Birla Sun Life Banking & PSU Debt Fund ...,160.7528,25-Aug-2023
4,110282,INF209K01LU2,-,Aditya Birla Sun Life Banking & PSU Debt Fund ...,111.2163,25-Aug-2023
...,...,...,...,...,...,...
12883,151331,INF789F1AXA9,-,UTI Fixed Term Income Fund - Series XXXV-III (...,10.3826,25-Aug-2023
12884,151485,INF789F1AXP7,-,UTI Fixed Term Income Fund Series XXXVI - I (1...,10.4255,25-Aug-2023
12885,151484,INF789F1AXO0,-,UTI Fixed Term Income Fund Series XXXVI - I (1...,10.4255,25-Aug-2023
12886,151483,INF789F1AXN2,-,UTI Fixed Term Income Fund Series XXXVI - I (1...,10.4046,25-Aug-2023
12887,151486,INF789F1AXM4,-,UTI Fixed Term Income Fund Series XXXVI - I (1...,10.4046,25-Aug-2023